<%= form_for(note, :remote => true) do |f| %>
  <div><%= f.text_area :content, :rows => 3 %></div>
  <div><%= f.text_field :from, :class => 'text', :placeholder => 'from ( از طرف )' %></div>
  <div><%= f.submit 'Light Candle | شمع روشن کن' %></div>
<% end %>
