<div id="info">
  <h1>Behzad Eghbal</h1>
  1983 - 2010<br/>
  Tehran, Iran
</div>

<div id="frame">
  <img src="/images/beh050.jpg" alt="Behzad Eghbal" />
</div>

<%= render 'form' %>

<div id="candles">
  <%= render @notes %>
</div>

<script type="text/javascript">
<%= render 'tooltip.js' %>
</script>