body {
  background-color: #000;
  color: #eee;
  font-family: helvetica, verdana, sans-serif;
}
a, a:link {
}

form .placeholder {
  color: #999;
}

#wrapper {
  width: 600px;
  margin: 50px auto;
  position: relative;
}
#info {
  text-align: center;
  font-family: 'OFL Sorts Mill Goudy TT', times, serif;
}

#frame {
  width: 476px;
  height: 542px;
  margin: 30px auto 0;
  background: transparent url(/images/frame.gif) no-repeat;
}
#frame img {
  margin: 74px;
}


#form {
  width: 456px;
  margin: 20px auto;
  text-align: center;
}
#form h2 {
  margin: 10px 0;
  font-size: 90%;
  font-weight: normal;
  text-align: center;
}
#form form {
  width: 400px;
  margin: 0 auto;
}
#form form div {
  margin-top: 7px;
}
#form form input.text,
#form form textarea {
  width: 350px;
  padding: 3px;
  border: 1px solid #ccc;
}

#candles {
  position: relative;
  overflow: hidden;
  width: 650px;
  margin: 0 auto;
  text-align: center;
}
#candles .candle {
  text-align: center; 
  float: left;
  margin-bottom: 15px;
  margin-left: 1px;
  margin-right: 1px;
  background-color: transparent;
  background-image: url(/images/candles.gif);
  background-repeat: no-repeat;
  cursor: pointer;
}

.candle-1 { width: 36px; height: 100px; margin-top: 22px; background-position: -2px bottom; }
.candle-2 { width: 44px; height: 82px;  margin-top: 40px; background-position: -40px bottom; }
.candle-3 { width: 45px; height: 122px; margin-top: 0;    background-position: -85px bottom; }
.candle-4 { width: 50px; height: 112px; margin-top: 10px; background-position: -136px bottom; }
.candle-5 { width: 38px; height: 120px; margin-top: 2px;  background-position: -190px bottom; }
.candle-6 { width: 59px; height: 89px;  margin-top: 33px; background-position: -231px bottom; }
.candle-7 { width: 39px; height: 76px;  margin-top: 46px; background-position: -291px bottom; }
.candle-8 { width: 44px; height: 119px; margin-top: 3px;  background-position: -335px bottom; }

.tooltip {
  display: none;
  padding: 10px;
  min-width: 200px;
  max-width: 400px;
  background-color: #fff;
  color: #333;
  border: 1px solid #999;
  
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  
  -webkit-box-shadow: rgba(0,0,0,.7) 0 0 5px;
  -moz-box-shadow: rgba(0,0,0,.7) 0 0 5px;
  box-shadow: rgba(0,0,0,.7) 0 0 5px;
}
.tooltip.rtl p {
  direction: rtl;
}
.tooltip p {
  margin: 0;
  font-size: 95%;
  line-height: 130%;
}
.tooltip em {
  font-size: 85%;
  color: #666;
  margin-top: 7px;
  display: block;
  text-align: right;
}